[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
flask = "*"
boto3 = "*"
opencv-python = "*"
opencv-contrib-python = "*"
s3fs = "*"
pyarrow = "*"
pandas = "*"
inotify_simple = "*"

[dev-packages]
ipykernel = "*"
