[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
flask = "*"
boto3 = "*"
inotify_simple = "*"
opencv-python-headless = "4.8.0.76"
opencv-contrib-python-headless = "4.8.0.76"
s3fs = "2023.6.0"
pandas = "1.5.3"

[dev-packages]
ipykernel = "*"
